body{
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color:red;
}
thead {
    font-weight: bold;
}
thead td {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border: 1px solid black;
    padding: 10px;
}